/* Edita o style do corpo da página index.html */
body {
    /* padroniza a font da página como Arial */
    font-family: Arial, sans-serif;
    /* Define a transição da cor do background em 0.3s e a cor também em 0.3s*/
    transition: background-color 0.3s, color 0.3s;
    /* Define a cor do background como #ffffff */
    background-color: #ffffff;
    /* Define a cor do conteúdo como #333 */
    color: #333;
}

/* Edita o style do body quando um elemento tiver a class = dark */
body.dark {
    /* Cor do background definida como #333 */
    background-color: #333;
    /* Cor do conteúdo como #ffffff */
    color: #ffffff;
}

/* Edita o style da tag header */
header {
    /* Define o background como #4CAF50 */
    background: #4CAF50;
    /* Define a cor do conteúdo dentro do header como white */
    color: white;
    /* Define o espaçamento entre o conteúdo e a borda de 10px em cima e embaixo e 20px na esquerda e na direita */
    padding: 10px 20px;
}

/* Edita o style da tag nav */
nav {
    /* Define o display da tag nav como sendo flexivel, tornando possível posicionar os elementos um do lado do outro na mesma linha */
    display: flex;
    /* Define que os elementos dentro da nav terão um espaçamento proporciona entre eles */
    justify-content: space-between;
    /* Alinha os itens do tag nav no centro */
    align-items: center;
}

/* Edita o style da class = nav-list */
.nav-list {
    /* Define como none o estilo da lista, fazendo assim com que a lista não tenha mais um "pontinho" na lateral de cada item da lista */
    list-style: none;
    /* Define o display da tag nav como sendo flexivel, tornando possível posicionar os elementos um do lado do outro na mesma linha */
    display: flex;
}

/* Edita o style da li dentro da class = nav-list */
.nav-list li {
    /* Define a margem como  */
    margin: 0 15px;
}

/* Edita o style da class = menu-toggle */
.menu-toggle {
    /* Define display como none, fazendo com que o mesmo não apareça  */
    display: none;
    /* Define a interação de quando o cursor passar por cima, indicar que é possível clicar */
    cursor: pointer;
}

/* Edita o style da tag img dentro da class = image-carousel */
.image-carousel img {
    /* Define a largura da img como 100% da página*/
    width: 100%;
    /* Define que o máximo de largura que a img pode chegar é de 300px */
    max-width: 300px;
    /* Define uma margem de 10px para todos os lado */
    margin: 10px;
}

/* Edita o style da tag button */
button {
    /* Define a cor do background do button como #4ACF50 */
    background-color: #4CAF50;
    /* Define a cor do texto como white */
    color: white;
    /* Define como none o valor de border, sendo assim, tirando a borda do button */
    border: none;
    /* Define o espaçamento entre o conteúdo e a borda de 10px em cima e embaixo e 15px na esquerda e na direita */
    padding: 10px 15px;
    /* Define a interação de quando o cursor passar por cima, indicar que é possível clicar */
    cursor: pointer;
}

/* Edita o style da tag button quando o mouse passa por cima da mesma */
button:hover {
    /* Trasnforma a escala do botão em 1.1 aumentando um pouco, */
    transform: scale(1.1);
    /* Define a tranição de transform em 0.2s */
    transition: transform 0.2s;
}

/* Edita o style do id = scrollToTop */
#scrollToTop {
    /* Define a posição como sendo fixa */
    position: fixed;
    /* Define a posição de 20px do bottom, sendo a parte inferior */
    bottom: 20px;
    /* Define a posição de 20px de right, sendo a parte lateral direita */
    right: 20px;
    /* Define display como none, fazendo com que o mesmo não apareça  */
    display: none;
}

/* Responsividade */
/* Edita os valores abaixo quando o tamnho da tela é igual ou menor do que 768px */
@media (max-width: 768px) {
    /* Edita o style da class = nav-list */
    .nav-list {
        /* Define display como none, fazendo com que o mesmo não apareça  */
        display: none;
        /* Define a direção dos elementos dentro da class como uma coluna, deixando assim um abaixo do outro */
        flex-direction: column;
    }

    /* Edita o style da class = menu-toggle */
    .menu-toggle {
        /* Define o display como block, tornando o mesmo visível agora */
        display: block;
    }
} 
